---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent-tools-helper
spec:
  chartRef:
    kind: OCIRepository
    name: qbittorrent-tools-helper
  interval: 1h
  dependsOn:
    - name: qbittorrent
  values:
    controllers:
      main:
        type: cronjob
        cronjob:
          # run it after qbit_manage
          schedule: "5 * * * *"
          timeZone: "Europe/Warsaw"
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1
          failedJobsHistory: 1
        containers:
          main:
            image:
              repository: ghcr.io/maksimshakavin/qbit-helper
              tag: main@sha256:336055b71b6b6afd6b9d0a47c07d921043050f6d139a29fbc050a1fb8eac2e56
            args:
              - --config
              - &config /config/config.yaml
        pod:
          restartPolicy: OnFailure
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    persistence:
      config-file:
        type: secret
        name: qbit-helper-secret
        globalMounts:
          - path: *config
            subPath: config.yaml
      downloads:
        type: nfs
        server: "192.168.20.5"
        path: "/volume1/kubernetes"
        globalMounts:
          - path: /data
