---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app qbittorrent
  namespace: default
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: longhorn
      namespace: storage
    - name: volsync
      namespace: storage
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      qbittorrent:
        initContainers:
          init-categories:
            image:
              repository: docker.io/library/alpine
              tag: 3.22.1
            command:
              - "sh"
              - "-c"
              - |
                mkdir -p /config/qBittorrent/ &&
                echo '{"movies": {"save_path": "/data/torrents/movies"}, "tv": {"save_path": "/data/torrents/tv"}, "guardian": "/data/torrents/guardian"}' > /config/qBittorrent/categories.json
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.3@sha256:2feb2c8d188db4de330ca4840c167282e10e3252f4c6d1bce7943c7f46099836
            env:
              TZ: "Europe/Warsaw"
              QBITTORRENT__PORT: &port 8080
              QBITTORRENT__BT_PORT: &port-bt 58462
              QBT_Preferences__Downloads__SavePath: /data/torrents
              QBT_Preferences__Downloads__TorrentExportDir: /data/torrents/.torrents
              QBT_Preferences__Downloads__FinishedTorrentExportDir: /data/torrents/.torrents/completed
              QBT_Preferences__WebUI__Password_PBKDF2: "@ByteArray(iXranQkCEwRqp96g0yKHHA==:2ujiTbO+e12jHqzAJccPqjrBcVmRhaTSrrMi27VRiv2rbWk50twuRcHBCc8jsX/J/oZ8JQnBzHFjNzZ2bvpZkQ==)"
              QBT_Preferences__WebUI__AlternativeUIEnabled: 'true'
              QBT_Preferences__WebUI__RootFolder: '/add-ons/VueTorrent'
              QBT_Preferences__WebUI__LocalHostAuth: false
              QBT_Preferences__WebUI__UseUPNP: false
              QBT_Preferences__WebUI__CSRFProtection: false
              QBT_Preferences__WebUI__ClickjackingProtection: false
              QBT_Preferences__WebUI__AuthSubnetWhitelistEnabled: true
              QBT_Preferences__WebUI__AuthSubnetWhitelist: |-
                10.42.0.0/16, 192.168.10.0/24, 192.168.20.0/24
              QBT_BitTorrent__Session__AlternativeGlobalDLSpeedLimit: 20000
              QBT_BitTorrent__Session__AlternativeGlobalUPSpeedLimit: 0
              QBT_BitTorrent__Session__GlobalUPSpeedLimit: 0
              QBT_BitTorrent__Session__GlobalDLSpeedLimit: 2500
              QBT_BitTorrent__Session__UseAlternativeGlobalSpeedLimit: false
              QBT_BitTorrent__Session__BandwidthSchedulerEnabled: true
              QBT_BitTorrent__Session__DisableAutoTMMByDefault: false
              QBT_BitTorrent__Session__TempPathEnabled: false
              QBT_BitTorrent__Session__DisableAutoTMMTriggers__CategorySavePathChanged: false
              QBT_BitTorrent__Session__DisableAutoTMMTriggers__DefaultSavePathChanged: false
              QBT_BitTorrent__Scheduler__days: true
              QBT_BitTorrent__Scheduler__start_time: '@Variant(\0\0\0\xf\0\0\0\0)'
              QBT_BitTorrent__Scheduler__end_time: '@Variant(\0\0\0\xf\x1\xb7t\0)'
            resources:
              requests:
                cpu: 500m
              limits:
                memory: 10Gi
          secondary:
            dependsOn: app
            image:
              repository: registry.k8s.io/git-sync/git-sync
              tag: v4.4.3
            args:
              - --repo=https://github.com/WDaan/VueTorrent
              - --ref=latest-release
              - --period=86400s
              - --root=/add-ons
            resources:
              requests:
                cpu: 10m
                memory: 25Mi
              limits:
                memory: 50Mi
    service:
      app:
        controller: qbittorrent
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.20.64
        ports:
          http:
            port: *port
          bittorrent:
            enabled: true
            port: *port-bt
            protocol: TCP
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.exelent.click"
          - torrent.exelent.click
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: "Media & Downloading"
          gethomepage.dev/name: qBittorrent
          gethomepage.dev/icon: qbittorrent.png
          gethomepage.dev/description: Torrent Client
          gethomepage.dev/weight: "3"
          gethomepage.dev/widget.type: qbittorrent
          gethomepage.dev/widget.url: http://qbittorrent.default.svc.cluster.local:8080
          gethomepage.dev/widget.username: "{{ `{{HOMEPAGE_VAR_QBITTORRENT_USERNAME}}` }}"
          gethomepage.dev/widget.password: "{{ `{{HOMEPAGE_VAR_QBITTORRENT_PASSWORD}}` }}"
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /config
      downloads:
        type: nfs
        server: 192.168.20.5
        path: /volume1/kubernetes
        globalMounts:
          - path: /data
      add-ons:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /add-ons
