---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent
spec:
  chartRef:
    kind: OCIRepository
    name: qbittorrent
  interval: 1h
  values:
    controllers:
      qbittorrent:
        initContainers:
          init-categories:
            image:
              repository: docker.io/library/alpine
              tag: 3.23.2
            command:
              - "sh"
              - "-c"
              - |
                mkdir -p /config/qBittorrent/ &&
                echo '{"movies": {"save_path": "/data/torrents/movies"}, "tv": {"save_path": "/data/torrents/tv"}}' > /config/qBittorrent/categories.json
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.4@sha256:56ecd30a7f5e1357daf5eea2a6935134d329b7b268a3a9b9c67041b65fb87fc6
            env:
              TZ: "Europe/Warsaw"
              QBT_WEBUI_PORT: &port 8080
              QBT_TORRENTING_PORT: &torrentPort 58462
              QBT_Preferences__Downloads__SavePath: /data/torrents
              QBT_Preferences__Downloads__TorrentExportDir: /data/torrents/.torrents
              QBT_Preferences__Downloads__FinishedTorrentExportDir: /data/torrents/.torrents/completed
              QBT_Preferences__WebUI__Password_PBKDF2: "@ByteArray(iXranQkCEwRqp96g0yKHHA==:2ujiTbO+e12jHqzAJccPqjrBcVmRhaTSrrMi27VRiv2rbWk50twuRcHBCc8jsX/J/oZ8JQnBzHFjNzZ2bvpZkQ==)"
              QBT_Preferences__WebUI__AlternativeUIEnabled: 'true'
              QBT_Preferences__WebUI__RootFolder: '/add-ons/VueTorrent'
              QBT_Preferences__WebUI__LocalHostAuth: false
              QBT_Preferences__WebUI__UseUPNP: false
              QBT_Preferences__WebUI__CSRFProtection: false
              QBT_Preferences__WebUI__ClickjackingProtection: false
              QBT_Preferences__WebUI__AuthSubnetWhitelistEnabled: true
              QBT_Preferences__WebUI__AuthSubnetWhitelist: |-
                10.42.0.0/16, 192.168.10.0/24, 192.168.20.0/24
              QBT_BitTorrent__Session__AlternativeGlobalDLSpeedLimit: 20000
              QBT_BitTorrent__Session__AlternativeGlobalUPSpeedLimit: 0
              QBT_BitTorrent__Session__GlobalUPSpeedLimit: 0
              QBT_BitTorrent__Session__GlobalDLSpeedLimit: 2500
              QBT_BitTorrent__Session__UseAlternativeGlobalSpeedLimit: false
              QBT_BitTorrent__Session__BandwidthSchedulerEnabled: true
              QBT_BitTorrent__Session__DisableAutoTMMByDefault: false
              QBT_BitTorrent__Session__TempPathEnabled: false
              QBT_BitTorrent__Session__DisableAutoTMMTriggers__CategorySavePathChanged: false
              QBT_BitTorrent__Session__DisableAutoTMMTriggers__DefaultSavePathChanged: false
              QBT_BitTorrent__Scheduler__days: true
              QBT_BitTorrent__Scheduler__start_time: '@Variant(\0\0\0\xf\0\0\0\0)'
              QBT_BitTorrent__Scheduler__end_time: '@Variant(\0\0\0\xf\x1\xb7t\0)'
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v2/app/version
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: [ "ALL" ] }
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 10Gi
          secondary:
            dependsOn: app
            image:
              repository: registry.k8s.io/git-sync/git-sync
              tag: v4.5.1
            args:
              - --repo=https://github.com/WDaan/VueTorrent
              - --ref=latest-release
              - --period=86400s
              - --root=/add-ons
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 50Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        forceRename: "{{ .Release.Name }}"
        primary: true
        ports:
          http:
            port: *port
      bittorrent:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.20.64
        externalTrafficPolicy: Local
        ports:
          bittorrent-tcp:
            port: *torrentPort
            protocol: TCP
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.exelent.click"
          - torrent.exelent.click
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: "Media & Downloading"
          gethomepage.dev/name: qBittorrent
          gethomepage.dev/icon: qbittorrent.png
          gethomepage.dev/description: Torrent Client
          gethomepage.dev/weight: "3"
          gethomepage.dev/widget.type: qbittorrent
          gethomepage.dev/widget.url: http://qbittorrent.default.svc.cluster.local:8080
          gethomepage.dev/widget.username: "{{ `{{HOMEPAGE_VAR_QBITTORRENT_USERNAME}}` }}"
          gethomepage.dev/widget.password: "{{ `{{HOMEPAGE_VAR_QBITTORRENT_PASSWORD}}` }}"
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /config
      downloads:
        type: nfs
        server: 192.168.20.5
        path: /volume1/kubernetes
        globalMounts:
          - path: /data
      add-ons:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /add-ons
