---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: portainer
  namespace: observability
spec:
  interval: 5m
  chart:
    spec:
      chart: portainer
      version: 2.33.6
      sourceRef:
        kind: HelmRepository
        name: portainer-charts
        namespace: observability
      interval: 5m
  values:
    image:
      repository: portainer/portainer-ce
      tag: 2.38.1
    service:
      type: ClusterIP
      httpPort: 9000
    persistence:
      existingClaim: portainer
