---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/helmrepository_v2.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: portainer-charts
  namespace: observability
spec:
  interval: 1h
  url: https://portainer.github.io/k8s/
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app portainer
  namespace: observability
spec:
  interval: 5m
  chart:
    spec:
      chart: portainer
      version: 2.33.5
      sourceRef:
        kind: HelmRepository
        name: portainer-charts
        namespace: observability
      interval: 5m
  dependsOn:
    - name: longhorn
      namespace: storage
    - name: volsync
      namespace: storage
  values:
    image:
      repository: portainer/portainer-ce
      tag: 2.33.1
    service:
      type: ClusterIP
      httpPort: 9000
    persistence:
      existingClaim: *app
