---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/alertmanagerconfig_v1alpha1.json
apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: alertmanager
spec:
  route:
    receiver: discord
    repeatInterval: 12h
    routes:
      - receiver: "null"
        matchers:
          - name: alertname
            value: InfoInhibitor
            matchType: =
      - receiver: heartbeat
        groupInterval: 2m
        groupWait: 0s
        repeatInterval: 2m30s
        matchers:
          - name: alertname
            value: Watchdog
            matchType: =
      - receiver: discord
        matchers:
          - name: severity
            value: critical
            matchType: =
    groupBy:
      - alertname
      - cluster
      - job
    groupInterval: 5m
    groupWait: 1m

  inhibitRules:
    - equal:
        - alertname
        - namespace
      sourceMatch:
        - name: severity
          value: critical
          matchType: =
      targetMatch:
        - name: severity
          value: warning
          matchType: =
  receivers:
    - name: "null"
    - name: heartbeat
      webhookConfigs:
        - urlSecret:
            name: &secret alertmanager-secret
            key: ALERTMANAGER_HEARTBEAT_URL
    - name: discord
      discordConfigs:
        - apiURL:
            name: *secret
            key: ALERTMANAGER_DISCORD_URL
