---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: notifiarr
  namespace: default
spec:
  chartRef:
    kind: OCIRepository
    name: notifiarr
  interval: 1h
  values:
    annotations:
      reloader.stakater.com/auto: "true"
    defaultPodOptions:
      hostname: notifiarr-kube
    controllers:
      notifiarr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: golift/notifiarr
              tag: 0.9@sha256:738d7e1421c18960884b09a5026871a112119910af9f6e4743e8d2cdbbe59e8b
            env:
              PUID: 1000
              PGID: 1000
              UMASK: 002
              TZ: "Europe/Warsaw"
            envFrom:
              - secretRef:
                  name: notifiarr-secret
    service:
      app:
        ports:
          http:
            port: 5454
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.exelent.click"
        parentRefs:
          - name: envoy-internal
            namespace: network
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: notifiarr.png
          gethomepage.dev/name: Notifiarr
          gethomepage.dev/group: "Monitoring & Observability"
          gethomepage.dev/description: Arr notifications management
          gethomepage.dev/weight: "5"
