---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app notifiarr
  namespace: default
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    annotations:
      reloader.stakater.com/auto: "true"
    defaultPodOptions:
      hostname: notifiarr-kube
    controllers:
      notifiarr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: golift/notifiarr
              tag: 0.9@sha256:006b744308d0d933a6f1b9a777497b43f83c04effc7f395bc9cf55436b647176
            env:
              PUID: 1000
              PGID: 1000
              UMASK: 002
              TZ: "Europe/Warsaw"
            envFrom:
              - secretRef:
                  name: notifiarr-secret
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 5454
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.exelent.click"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: notifiarr.png
          gethomepage.dev/name: Notifiarr
          gethomepage.dev/group: "Monitoring & Observability"
          gethomepage.dev/description: Arr notifications management
          gethomepage.dev/weight: "5"
