---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: satisfactory
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: satisfactory
  values:
    controllers:
      satisfactory:
        containers:
          app:
            image:
              repository: wolveix/satisfactory-server
              tag: v1.9.10
            env:
              ROOTLESS: "true"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  exec:
                    command:
                      - /bin/bash
                      - /healthcheck.sh
                  initialDelaySeconds: 120
                  periodSeconds: 30
                  timeoutSeconds: 10
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: {
                drop: [ "ALL" ],
                add: [ "CHOWN","FOWNER" ]
              }
            resources:
              requests:
                memory: 6Gi
              limits:
                memory: 16Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: Always
        supplementalGroups: [ 10000 ]
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: satisfactory
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.20.67
        ports: &ports
          gameudp:
            enabled: true
            port: 7777
            protocol: UDP
          gametcp:
            enabled: true
            port: 7777
            protocol: TCP
      playit:
        controller: satisfactory
        type: ClusterIP
        # https://discord.com/channels/686968015715172423/1205905773767430265/1205905773767430265
        clusterIP: 10.96.237.68 # FIXME: Remove if/when playit supports hostname tunnel endpoints
        ports: *ports
    persistence:
      server:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /config
      saves:
        type: nfs
        server: "192.168.20.5"
        path: "/volume1/kubernetes/satisfactory"
        globalMounts:
          - path: /config/saved
