---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: webtlo
spec:
  components:
    - ../../../../components/volsync
  interval: 1h
  path: ./kubernetes/apps/default/webtlo/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: default
  wait: false
  postBuild:
    substitute:
      APP: webtlo
      VOLSYNC_CAPACITY: 1Gi
      VOLSYNC_UID: "1000"
      VOLSYNC_GID: "1000"
