---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ghostfolio
spec:
  chartRef:
    kind: OCIRepository
    name: ghostfolio
  interval: 1h
  values:
    controllers:
      ghostfolio:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/ghostfolio/ghostfolio
              tag: 2.231.0@sha256:0229e5de10c6924f67ab9b59e592ae5622f669008a8f6899f3beef11ee473277
            env:
              TZ: "Europe/Warsaw"
              REDIS_HOST: "dragonfly.database.svc.cluster.local"
              REDIS_DB: "4"
              REDIS_PORT: 6379
              # POSTGRES
              DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: ghostfolio-pguser-ghostfolio
                    key: pgbouncer-uri
            envFrom:
              - secretRef:
                  name: ghostfolio-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v1/health
                    port: &port 3333
                  initialDelaySeconds: 20
                  periodSeconds: 20
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: [ "ALL" ] }
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 2Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.exelent.click"
        parentRefs:
          - name: envoy-external
            namespace: network
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: ghostfolio.png
          gethomepage.dev/name: Ghostfolio
          gethomepage.dev/group: "Home Apps"
          gethomepage.dev/description: "Investment Management"
          gethomepage.dev/weight: "2"
          gethomepage.dev/widget.type: ghostfolio
          gethomepage.dev/widget.url: http://ghostfolio.default:3333
          gethomepage.dev/widget.key: "{{`{{HOMEPAGE_VAR_GHOSTFOLIO_TOKEN}}`}}"
