---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app authentik
spec:
  chartRef:
    kind: OCIRepository
    name: authentik
  interval: 1h
  values:
    global:
      podAnnotations:
        secret.reloader.stakater.com/reload: &secret authentik-secret
      deploymentStrategy:
        type: RollingUpdate
      env:
        - name: AUTHENTIK_POSTGRESQL__NAME
          value: *app
        - name: AUTHENTIK_POSTGRESQL__HOST
          value: authentik-pgbouncer.security.svc #Authentik requires transaction for pgBouncer
        - name: AUTHENTIK_POSTGRESQL__USER
          value: *app
        - name: AUTHENTIK_POSTGRESQL__PASSWORD
          valueFrom:
            secretKeyRef:
              name: authentik-pguser-authentik
              key: password
        - name: AUTHENTIK_POSTGRESQL__USE_PGBOUNCER
          value: "true"
        - name: AUTHENTIK_POSTGRESQL__SSLMODE
          value: require
      envFrom:
        - secretRef:
            name: *secret
    server:
      autoscaling:
        enabled: true
        minReplicas: 1
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
      route:
        main:
          enabled: true
          hostnames:
            - sso.exelent.click
          parentRefs:
            - name: envoy-external
              namespace: network
          annotations:
            gethomepage.dev/enabled: "true"
            gethomepage.dev/icon: authentik.png
            gethomepage.dev/name: Authentik
            gethomepage.dev/group: Infrastructure
            gethomepage.dev/app: authentik
            gethomepage.dev/weight: "101"
            gethomepage.dev/description: OIDC User Management
            gethomepage.dev/widget.type: authentik
            gethomepage.dev/widget.url: http://authentik-server.security
            gethomepage.dev/widget.key: "{{HOMEPAGE_VAR_AUTHENTIK_TOKEN}}"
      ingress:
        enabled: false
    worker:
      autoscaling:
        enabled: true
        minReplicas: 1
    prometheus:
      rules:
        enabled: true
