---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: webtlo
spec:
  chartRef:
    kind: OCIRepository
    name: webtlo
  interval: 1h
  values:
    controllers:
      webtlo:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: berkut174/webtlo
              tag: 3.7.1
            env:
              TZ: "Europe/Warsaw"
              WEBTLO_CRON: "true"
              CRON_UPDATE: "15 * * * *"
              CRON_CONTROL: "25 * * * *"
              CRON_KEEPERS: "0 6 * * *"
              CRON_REPORTS: "0 5 * * *"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 80
                  initialDelaySeconds: 60
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: true
              runAsNonRoot: false
              readOnlyRootFilesystem: false
    defaultPodOptions:
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [ 10000 ]
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.exelent.click"
        parentRefs:
          - name: envoy-internal
            namespace: network
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: mdi-harddisk
          gethomepage.dev/name: "{{ .Release.Name }}"
          gethomepage.dev/group: "Media & Downloading"
          gethomepage.dev/description: Guardian torrent management
          gethomepage.dev/weight: "8"
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
