---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: immich
spec:
  components:
    - ../../../../components/postgress
  dependsOn:
    - name: crunchy-postgres-operator
      namespace: database
    - name: dragonfly-cluster
      namespace: database
  interval: 1h
  path: ./kubernetes/apps/default/immich/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: default
  wait: false
  postBuild:
    substitute:
      APP: immich
  patches:
    - patch: |
        - op: add
          path: /spec/patroni/dynamicConfiguration/postgresql/parameters
          value:
            shared_preload_libraries: "vectors.so"
            search_path: '"$user", public, vectors"'
      target:
        kind: PostgresCluster
    - patch: |
        - op: replace
          path: /spec/image
          value: ghcr.io/budimanjojo/cdpgvecto.rs:ubi9-16.8-2516
      target:
        kind: PostgresCluster
    - patch: |
        - op: replace
          path: /spec/postgresVersion
          value: 16
      target:
        kind: PostgresCluster
    - patch: |
        - op: add
          path: /spec/databaseInitSQL
          value:
            name: immich-database-init-sql
            key: init.sql
      target:
        kind: PostgresCluster
