---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app scrypted
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: longhorn
      namespace: storage
    - name: volsync
      namespace: storage
  values:
    controllers:
      scrypted:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"multus-iot",
                "namespace": "network",
                "ips": ["192.168.20.63/24"],
                "mac": "76:fa:11:c0:c9:84"
              }]
        containers:
          app:
            image:
              repository: ghcr.io/koush/scrypted
              tag: v0.144.1-noble-full
            env:
              TZ: "Europe/Warsaw"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 136m
                memory: 1024Mi
              limits:
                gpu.intel.com/i915: 1
                memory: 8192Mi
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups:
          - 44
          - 109
    service:
      app:
        controller: scrypted
        ports:
          http:
            port: &port 11080
            primary: true
          rebroadcast1:
            port: 34135
    route:
      app:
        hostnames: [ "{{ .Release.Name }}.exelent.click" ]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: scrypted.png
          gethomepage.dev/name: Scrypted
          gethomepage.dev/group: "Home Apps"
          gethomepage.dev/description: Manage homekit webcams
          gethomepage.dev/weight: "4"
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /server/volume
      cache:
        type: emptyDir
        globalMounts:
          - path: /.cache
      cache-npm:
        type: emptyDir
        globalMounts:
          - path: /.npm
      recordings:
        type: nfs
        server: "192.168.20.5"
        path: "/volume1/kubernetes/scrypted/recs"
        globalMounts:
          - path: /recs
