---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: scrypted
spec:
  chartRef:
    kind: OCIRepository
    name: scrypted
  interval: 1h
  values:
    controllers:
      scrypted:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"iot",
                "namespace": "kube-system",
                "ips": ["192.168.20.63/24"],
                "mac": "76:fa:11:c0:c9:84"
              }]
        containers:
          app:
            image:
              repository: ghcr.io/koush/scrypted
              tag: v0.144.1-noble-full
            env:
              TZ: "Europe/Warsaw"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              claims:
                - name: gpu
              requests:
                cpu: 136m
              limits:
                memory: 8192Mi
    defaultPodOptions:
      resourceClaims:
        - name: gpu
          resourceClaimTemplateName: scrypted
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups:
          - 44
          - 109
    service:
      app:
        forceRename: "{{ .Release.Name }}"
        primary: true
        ports:
          http:
            port: &port 11080
          rebroadcast1:
            port: 34135
    route:
      app:
        hostnames: [ "{{ .Release.Name }}.exelent.click" ]
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: scrypted.png
          gethomepage.dev/name: Scrypted
          gethomepage.dev/group: "Home Apps"
          gethomepage.dev/description: Manage homekit webcams
          gethomepage.dev/weight: "4"
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /server/volume
      cache:
        type: emptyDir
        globalMounts:
          - path: /.cache
      cache-npm:
        type: emptyDir
        globalMounts:
          - path: /.npm
      recordings:
        type: nfs
        server: "192.168.20.5"
        path: "/volume1/kubernetes/scrypted/recs"
        globalMounts:
          - path: /recs
