---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: octobot
spec:
  chartRef:
    kind: OCIRepository
    name: octobot
  interval: 1h
  values:
    controllers:
      octobot:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: drakkarsoftware/octobot
              tag: 2.1.13@sha256:56c42b40066afea4ebad52c44423ae23360e3ff51735efafe5a27fb499d6dd87
            env:
              HOST: octobot.exelent.click
    service:
      app:
        ports:
          http:
            port: 5001
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.exelent.click"
        parentRefs:
          - name: envoy-internal
            namespace: network
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: https://www.octobot.cloud/favicon.ico
          gethomepage.dev/name: Octobot
          gethomepage.dev/group: "Home Apps"
          gethomepage.dev/description: Crytpto Trading Bot
          gethomepage.dev/weight: "7"
    persistence:
      server:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /octobot/logs
            subPath: logs
          - path: /octobot/backtesting
            subPath: backtesting
          - path: /octobot/tentacles
            subPath: tentacles
          - path: /octobot/user
            subPath: user
