---
connectivity:
  checker:
    target: 1.1.1.1:53
    interval: 1m

endpoints:
  - name: Cloudflare
    group: connectivity
    url: icmp://1.1.1.1
    interval: 1m
    conditions:
      - "[CONNECTED] == true"

  - name: Google
    group: connectivity
    url: icmp://8.8.8.8
    interval: 1m
    conditions:
      - "[CONNECTED] == true"

metrics: true

storage:
  type: sqlite
  caching: true
  path: ${GATUS_CONFIG_PATH}/gatus.db

ui:
  title: Status | Gatus
  header: Status
  logo: https://raw.githubusercontent.com/kubepug/kubepug/main/assets/kubepug.png
  link: https://github.com/MaksimShakavin
  buttons:
    - name: Github
      link: https://github.com/MaksimShakavin
    - name: Homelab
      link: https://github.com/MaksimShakavin/flux-homelab

alerting:
  discord:
    webhook-url: $${DISCORD_WEBHOOK}
    default-alert:
      description: health-check failed
      send-on-resolved: true
      failure-threshold: 5
      success-threshold: 2

web:
  port: ${GATUS_WEB_PORT}
