---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability

components:
  - ../../components/alerts

resources:
  - ./namespace.yaml
  - ./portainer/ks.yaml
  - ./gatus/ks.yaml
  - ./kube-prometheus-stack/ks.yaml
  - ./grafana/ks.yaml
  - ./unpoller/ks.yaml
  - ./kromgo/ks.yaml
  - ./victoria-logs/ks.yaml
  - ./fluent-bit/ks.yaml
