---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: paperless
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: paperless
  values:
    controllers:
      paperless:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.20.4@sha256:06ca6a6c2a21cfebcc7c5f2e0d38f892dba4bcb090b8781a55d003c63cce386a
            env:
              PAPERLESS_TIME_ZONE: "Europe/Warsaw"
              PAPERLESS_URL: "https://paperless.exelent.click"
              PAPERLESS_PORT: &port 8000
              PAPERLESS_REDIS: redis://dragonfly.database.svc.cluster.local:6379
              PAPERLESS_TIKA_ENABLED: true
              PAPERLESS_TIKA_ENDPOINT: http://localhost:9998
              PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://localhost:3000
              PAPERLESS_LOGROTATE_MAX_BACKUPS: 0 #disable logging backup since anyway is done by locki
              PAPERLESS_OCR_LANGUAGE: rus+pol+eng
              PAPERLESS_OCR_LANGUAGES: pol rus
              # Database
              PAPERLESS_DBENGINE: postgresql
              PAPERLESS_DBPORT: "5432"
              PAPERLESS_DBHOST: paperless-pgbouncer.default.svc
              PAPERLESS_DBUSER: paperless
              PAPERLESS_DBNAME: paperless
              PAPERLESS_DBPASS:
                valueFrom:
                  secretKeyRef:
                    name: paperless-pguser-paperless
                    key: password
            envFrom:
              - secretRef:
                  name: paperless-secret
          tika:
            image:
              repository: apache/tika
              tag: 3.2.3.0@sha256:c0154cb95587cde64be74f35ada1a2bd7892219f3f0ac3c9dc6cab34046b3573
          gotenburg:
            image:
              repository: gotenberg/gotenberg
              tag: 8.25.1@sha256:f9104080d9a7ecab253fb5ebe75100329cf5699c33ec0448f2ea02d885dfde4b
            securityContext:
              privileged: false
              runAsUser: 1001
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.exelent.click"
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: paperless-ngx.png
          gethomepage.dev/name: Paperless
          gethomepage.dev/group: "Home Apps"
          gethomepage.dev/description: Document management
          gethomepage.dev/weight: "1"
          gethomepage.dev/widget.type: paperlessngx
          gethomepage.dev/widget.url: http://paperless.default.svc.cluster.local:8000
          gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_PAPERLESS_TOKEN}}` }}"
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /usr/src/paperless/data
      files:
        type: nfs
        server: "192.168.20.5"
        path: "/volume1/kubernetes/paperless"
        globalMounts:
          - subPath: media
            path: /usr/src/paperless/media
          - subPath: export
            path: /usr/src/paperless/export
          - subPath: consume
            path: /usr/src/paperless/consume
      tmp:
        enabled: true
        type: emptyDir
