---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: lubelogger
spec:
  chartRef:
    kind: OCIRepository
    name: lubelogger
  interval: 1h
  values:
    controllers:
      lubelogger:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/hargata/lubelogger
              tag: v1.6.0
            env:
              LC_ALL: ru_RU.UTF-8
              LANG: ru_RU.UTF-8
              TZ: "Europe/Warsaw"
            envFrom:
              - secretRef:
                  name: lubelogger-secret
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: [ "ALL" ] }
            resources:
              requests:
                cpu: 15m
                memory: 80M
              limits:
                memory: 256M
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [ 100 ]
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        ports:
          http:
            port: 8080
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.exelent.click"
        parentRefs:
          - name: envoy-external
            namespace: network
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: lubelogger.png
          gethomepage.dev/name: Lubelogger
          gethomepage.dev/group: "Home Apps"
          gethomepage.dev/description: Vehicle management
          gethomepage.dev/weight: "3"
#          gethomepage.dev/widget.type: lubelogger
#          gethomepage.dev/widget.url: http://lubelogger.default.svc.cluster.local
#          gethomepage.dev/widget.username: "{{ `{{HOMEPAGE_VAR_LUBELOGGER_USERNAME}}` }}"
#          gethomepage.dev/widget.password: "{{ `{{HOMEPAGE_VAR_LUBELOGGER_PASSWORD}}` }}"
    persistence:
      server:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /App/config
            subPath: config
          - path: /App/data
            subPath: data
          - path: /App/wwwroot/translations
            subPath: translations
          - path: /App/wwwroot/documents
            subPath: documents
          - path: /App/wwwroot/images
            subPath: images
          - path: /App/log
            subPath: log
          - path: /root/.aspnet/DataProtection-Keys
            subPath: keys
      tmp:
        type: emptyDir
        globalMounts:
          - path: /App/wwwroot/temp
