---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app mealie
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: longhorn
      namespace: storage
    - name: volsync
      namespace: storage
  values:
    controllers:
      mealie:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/mealie-recipes/mealie
              tag: v3.6.1
            env:
              TZ: "Europe/Warsaw"
              PUID: "1000"
              PGID: "1000"
              LOG_LEVEL: "debug"
              # database
              DB_ENGINE: 'postgres'
              POSTGRES_SERVER: mealie-pgbouncer.default.svc
              POSTGRES_PORT: "5432"
              POSTGRES_USER: *app
              POSTGRES_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: mealie-pguser-mealie
                    key: password
              POSTGRES_DB: *app
            envFrom:
              - secretRef:
                  name: mealie-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: [ "ALL" ] }
            resources:
              limits:
                memory: 1Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [ 10000 ]
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 9000
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.exelent.click"
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: "Home Apps"
          gethomepage.dev/name: Mealie
          gethomepage.dev/icon: mealie.svg
          gethomepage.dev/description: Recipe management
          gethomepage.dev/weight: "2"
          gethomepage.dev/widget.type: mealie
          gethomepage.dev/widget.url: http://mealie.default:9000
          gethomepage.dev/widget.key: "{{`{{HOMEPAGE_VAR_MEALIE_TOKEN}}`}}"
          gethomepage.dev/widget.version: "2"
    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /app/data/
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
      # TODO remove when fix is deployed https://github.com/mealie-recipes/mealie/issues/5242
      nltk:
        type: emptyDir
        globalMounts:
          - path: /nltk_data

