---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homepage
spec:
  chartRef:
    kind: OCIRepository
    name: homepage
  interval: 1h
  values:
    controllers:
      homepage:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/gethomepage/homepage
              tag: v1.8.0
            env:
              TZ: "Europe/Warsaw"
              HOMEPAGE_ALLOWED_HOSTS: "home.exelent.click,home.default,home.default.swc,home.default.swc.cluster,home.default.swc.cluster.local"
            envFrom:
              - secretRef:
                  name: homepage-secret
        serviceAccount:
          identifier: homepage
    service:
      app:
        ports:
          http:
            port: 3000
    route:
      app:
        hostnames:
          - home.exelent.click
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        type: configMap
        name: homepage-config
        globalMounts:
          - subPath: bookmarks.yaml
            path: /app/config/bookmarks.yaml
          - subPath: docker.yaml
            path: /app/config/docker.yaml
          - subPath: kubernetes.yaml
            path: /app/config/kubernetes.yaml
          - subPath: services.yaml
            path: /app/config/services.yaml
          - subPath: settings.yaml
            path: /app/config/settings.yaml
          - subPath: widgets.yaml
            path: /app/config/widgets.yaml
    serviceAccount:
      homepage: {}
