---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./configmap.yaml
  - ./helmrelease.yaml
  - ./externalsecret.yaml
  - ./ocirepository.yaml
  - ./resourceclaimtemplate.yaml
  - ./db/cluster.yaml
  - ./db/externalsecret.yaml
  - ./db/podmonitor.yaml
configMapGenerator:
  - name: immich-database-init-sql
    files:
      - init.sql=db/database-init-cm.sql
  - name: immich-config-tpl
    files:
      - ./config/immich.config.json
generatorOptions:
  disableNameSuffixHash: true
labels:
  - pairs:
      app.kubernetes.io/name: immich
