---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: playit
spec:
  chartRef:
    kind: OCIRepository
    name: playit
  interval: 1h
  values:
    controllers:
      playit:
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: pepaondrugs/playitgg-docker
              tag: v0.16.5@sha256:faf72fda5efb898cc59d80c4e95bd20ccec094f8002492588ec9db9d74942061
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 256Mi
    persistence:
      creds:
        type: secret
        name: playit-secret
        globalMounts:
          - path: /etc/playit/playit.toml
            subPath: playit.toml
            readOnly: false
