{% for namespace in ["external-secrets", "flux-system", "network"] %}
---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
{% endfor %}
---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-connect-secret
  namespace: external-secrets
stringData:
  1password-credentials.json: op://homelab/onepassword/OP_CREDENTIALS_JSON
  token: op://homelab/onepassword/OP_CONNECT_TOKEN
---
apiVersion: v1
kind: Secret
metadata:
  name: sops-age
  namespace: flux-system
stringData:
  age.agekey: op://homelab/sops/SOPS_PRIVATE_KEY
---
apiVersion: v1
kind: Secret
metadata:
  name: exelent-click-tls
  namespace: kube-system
  annotations:
    cert-manager.io/alt-names: '*.exelent.click,exelent.click'
    cert-manager.io/certificate-name: exelent-click
    cert-manager.io/common-name: exelent.click
    cert-manager.io/ip-sans: ""
    cert-manager.io/issuer-group: ""
    cert-manager.io/issuer-kind: ClusterIssuer
    cert-manager.io/issuer-name: letsencrypt-production
    cert-manager.io/uri-sans: ""
  labels:
    controller.cert-manager.io/fao: "true"
type: kubernetes.io/tls
data:
  tls.crt: op://homelab/exelent-click-tls-note/tls.crt
  tls.key: op://homelab/exelent-click-tls-note/tls.key
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-tunnel-id-secret
  namespace: network
stringData:
  CLOUDFLARE_TUNNEL_ID: op://homelab/cloudflare/CLUSTER_CLOUDFLARE_TUNNEL_ID
