---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-secret
  namespace: external-secrets
stringData:
  1password-credentials.json: op://homelab/onepassword/OP_CREDENTIALS_JSON
  token: op://homelab/onepassword/OP_CONNECT_TOKEN
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-tunnel-id-secret
  namespace: network
stringData:
  CLOUDFLARE_TUNNEL_ID: op://homelab/cloudflare/CLUSTER_CLOUDFLARE_TUNNEL_ID
