---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: satisfactory
spec:
  components:
    - ../../../../components/volsync
  interval: 1h
  path: ./kubernetes/apps/default/satisfactory/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
  targetNamespace: default
  postBuild:
    substitute:
      APP: satisfactory
      VOLSYNC_CAPACITY: 20Gi
      VOLSYNC_UID: "1000"
      VOLSYNC_GID: "1000"
