---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: storage

components:
  - ../../components/alerts

resources:
  - ./namespace.yaml
  - ./longhorn/ks.yaml
  - ./volsync/ks.yaml
  - ./local-path-provisioner/ks.yaml
